*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-size: 62.5%;
  //   background-color: var(--color-12);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

.small {
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1.2rem;
}
