:root {
  /* Colors */
  --color-1: hsl(252, 94%, 67%);
  --color-2: hsl(252, 100%, 73%);
  --color-3: hsl(233, 31%, 17%);
  --color-4: hsl(233, 30%, 21%);

  --color-5: hsl(231, 73%, 93%);
  --color-6: hsl(231, 20%, 61%);
  --color-7: hsl(231, 37%, 63%);
  --color-8: hsl(228, 29%, 7%);
  --color-13: hsl(231, 20%, 27%);

  --color-9: hsl(0, 80%, 63%);
  --color-10: hsl(0, 100%, 80%);

  --color-11: hsl(240, 27%, 98%);
  --color-12: hsl(233, 30%, 11%);
  --color--white: hsl(0, 100%, 100%);
}
