:root {
  /* Colors */
  --color-primary: rgb(124, 93, 250);
  --color-secondary: rgb(146, 119, 255);
  --color-paid: rgb(51, 214, 159);
  --color-pending: rgb(255, 143, 0);
  --color-button5: rgb(236, 87, 87);
  --color-button5-text: rgb(255, 255, 255);
  --color-button5-hover: rgb(255, 151, 151);
  --color-button6: rgb(249, 250, 254);
  --color-button6-text: rgb(126, 136, 195);
  --color-button6-hover: rgb(223, 227, 250);
  --color-hashtag: rgb(126, 136, 195);
}

.theme-light {
  /* Colors Light */
  --color-sidebar: rgb(55, 59, 83);
  --color-page-bg: rgb(248, 248, 251);
  --color-card-bg: rgb(255, 255, 255);
  --color-main-heading: rgb(12, 14, 22);
  --color-text: rgb(136, 142, 176);
  --color-name: var(--color-text);
  --color-draft: var(--color-sidebar);
  --color-draft-bg: rgba(55, 59, 83, 0.05);
  --color-button3: rgb(249, 250, 254);
  --color-button3-hover: rgb(223, 227, 250);
  --color-button3-text: var(--color-hashtag);
  --color-button4: var(--color-sidebar);
  --color-button4-text: var(--color-text);
  --color-button4-hover: var(--color-main-heading);
  --color-bg-textfield: white;
  --color-outline: var(--color-button3-hover);
  --color-outline-disabled: rgb(239, 241, 252);
  --color-label: var(--color-hashtag);
  --color-label-disabled: rgb(191, 195, 255);
  --color-text-textfield: var(--color-main-heading);
  --color-text-disabled: rgb(133, 135, 139);
  --color-caratcolor-textfield: var(--color-primary);
  --color-outline-active: var(--color-primary);
  --color-dropdown: white;
  --color-dropdown-text: var(--color-main-heading);
  --color-dropdown-border: var(--color-outline);
  --color-item-selected: var(--color-primary);
  --color-invoiceitems-bg: var(--color-button3);
  --color-invoice-bar: var(--color-sidebar);
  --color-invoice-bar-text: white;
  --color-itemlist-text: rgb(119, 127, 152);
}

.theme-dark {
  /* Dark Colors */
  --color-sidebar: rgb(30, 33, 57);
  --color-page-bg: rgb(20, 22, 37);
  --color-card-bg: var(--color-sidebar);
  --color-main-heading: rgb(255, 255, 255);
  --color-text: rgb(223, 227, 250);
  --color-name: var(--color-main-heading);
  --color-draft: var(--color-text);
  --color-draft-bg: rgba(223, 227, 250, 0.05);
  --color-button3: rgb(37, 41, 69);
  --color-button3-hover: var(--color-main-heading);
  --color-button3-text: var(--color-text);
  --color-button4: rgb(55, 59, 83);
  --color-button4-text: var(--color-text);
  --color-button4-hover: var(--color-sidebar);
  --color-bg-textfield: var(--color-sidebar);
  --color-outline: var(--color-button3);
  --color-outline-disabled: rgb(28, 31, 53);
  --color-label: rgb(223, 227, 250);
  --color-label-disabled: rgb(121, 124, 143);
  --color-text-textfield: var(--color-main-heading);
  --color-text-disabled: rgb(137, 138, 146);
  --color-caratcolor-textfield: var(--color-primary);
  --color-outline-active: var(--color-outline);
  --color-dropdown: rgb(37, 41, 69);
  --color-dropdown-text: var(--color-text);
  --color-dropdown-border: var(--color-sidebar);
  --color-item-selected: var(--color-primary);
  --color-invoiceitems-bg: var(--color-button3);
  --color-invoice-bar: rgb(12, 14, 22);
  --color-invoice-bar-text: white;
  --color-itemlist-text: white;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

.small h3 {
  font-size: 0.75rem;
}

.small p {
  font-size: 0.6875rem;
}

p {
  font-size: 0.75rem;
}

body {
  background: var(--color-page-bg);
}

button {
  background: none;
  border: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header {
  margin-top: 5rem;
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header p {
  font-size: 0.75rem;
  color: var(--color-text);
}

.header h1 {
  color: var(--color-main-heading);
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

ul {
  list-style: none;
  padding-left: 0;
}

.dropdown__selected {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-main-heading);
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-weight: 700;
  padding: 1rem 6rem 1rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.dropdown__selected::after {
  content: url("../../starter-code/assets/icon-arrow-down.svg");
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.dropdown__selected::after :where(#drop_down.show) {
  content: url("../../starter-code/assets/icon-arrow-up.svg");
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#drop_down {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  margin-top: 0.5rem;
  background: var(--color-dropdown);
  color: var(--color-dropdown-text);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  position: relative;
  z-index: 1;
}

#drop_down.show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#drop_down > ul > li {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 1rem 6rem 1rem 1rem;
  cursor: pointer;
}

.regular-checkbox {
  -webkit-appearance: none;
  background-color: var(--color-button3-hover);
  border: 1px solid var(--color-button3-hover);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.regular-checkbox:checked {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.regular-checkbox:checked:after {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 1px;
  left: 2px;
  color: #fff;
}

.dropdown-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-item > label {
  font-size: 0.75rem;
  padding-left: 1rem;
  cursor: pointer;
}

.dropdown-item:hover > .regular-checkbox {
  border: 1px solid var(--color-primary);
}

.side_bar {
  width: 6.25rem;
  background: var(--color-sidebar);
  height: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: fixed;
  z-index: 100001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top {
  height: 6.25rem;
  width: 6.25rem;
  background-color: var(--color-primary);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.top::after {
  content: "";
  height: 3.125rem;
  width: 6.25rem;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  bottom: 0;
  border-top-left-radius: 1rem;
  z-index: 1;
}

.figure {
  border-radius: 50%;
  background: white;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 2;
}

.figure::before {
  content: "";
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid var(--color-primary);
  position: absolute;
  left: 10px;
  top: -1px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .theme {
  width: 6.25rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #494e6e;
  margin-bottom: 1.5rem;
}

.bottom .avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .side_bar {
    height: 6.25rem;
    width: 100vw;
    left: 0;
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .top {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 6.25rem;
  }
  .bottom .theme {
    height: 100%;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 1rem;
    border-right: 1px solid #494e6e;
  }
  .bottom .avatar {
    margin-bottom: 0;
    margin-right: 2rem;
    margin-left: 1rem;
  }
}

.content {
  margin: 0 auto;
}

.empty {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty img {
  width: 30rem;
}

.empty .head {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  font-size: 1rem;
  color: var(--color-main-heading);
}

.empty .desc {
  color: var(--color-text);
  font-size: 1rem;
  text-align: center;
}

.empty .desc b {
  font-size: 1rem;
}

.empty.disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .empty {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    width: calc(500px - 4rem);
  }
}

.moveleft {
  -webkit-transform: translateX(4rem);
          transform: translateX(4rem);
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Spartan", sans-serif;
}

.container {
  margin-top: -7rem;
}

.card {
  margin: 1rem;
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5] 2rem;
      grid-template-columns: repeat(5, 1fr) 2rem;
  gap: 1rem;
  justify-items: self-start;
  width: 50rem;
  background: var(--color-card-bg);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 630px) {
  header {
    width: 100%;
  }
  .header {
    width: 100%;
    padding: 0 1rem;
  }
  .card {
    width: 100%;
  }
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

.id {
  cursor: default;
  color: var(--color-main-heading);
  font-size: 0.75rem;
}

.id::before {
  cursor: default;
  content: "#";
  font-size: 0.75rem;
  font-weight: normal;
  color: var(--color-hashtag);
}

.due_date {
  cursor: default;
  font-size: 0.75rem;
  color: var(--color-text);
}

.name {
  cursor: default;
  font-size: 0.75rem;
  color: var(--color-name);
}

.amount {
  cursor: default;
  font-size: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--color-main-heading);
}

.status {
  cursor: default;
  justify-self: center;
  width: 6.5rem;
  padding: 1rem 0;
  font-weight: 700;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 0.75rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.status.big {
  font-size: 1rem;
  padding: 1rem;
  width: 8rem;
}

.status::before {
  content: "\f111";
  font-size: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: relative;
  left: -5px;
  z-index: 0;
}

.status.paid {
  color: var(--color-paid);
  background-color: rgba(51, 214, 159, 0.05);
}

.status.pending {
  color: var(--color-pending);
  background-color: rgba(255, 143, 0, 0.05);
}

.status.draft {
  color: var(--color-draft);
  background-color: var(--color-draft-bg);
}

.arrow {
  cursor: pointer;
  content: url("../../starter-code/assets/icon-arrow-right.svg");
  position: relative;
  left: 5px;
}

.tot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side_invoice {
  display: none;
  position: fixed;
  z-index: 10000;
  padding: 2rem;
  height: 100vh;
  background: var(--color-page-bg);
  border-radius: 10px;
  padding-left: 10rem;
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.side_invoice .new__invoice {
  color: var(--color-main-heading);
  padding-bottom: 1rem;
}

.side_invoice .new__details {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.side_invoice.show {
  display: block;
  -webkit-animation: animatewithout 500ms ease-in-out forwards;
          animation: animatewithout 500ms ease-in-out forwards;
}

.label {
  display: inline-block;
  margin: 1rem 0;
}

.invoice__itemList {
  color: var(--color-itemlist-text);
  margin-top: 3rem;
}

.buttons {
  border-top: 1px solid var(--color-dropdown-border);
  width: calc(500px - 12rem);
  padding-top: 2rem;
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-height: 1100px) {
  form.new {
    position: relative;
    margin-bottom: 7.5rem;
  }
  form.new .buttons {
    position: fixed;
    background-color: var(--color-page-bg);
    width: 500px;
    padding: 2rem;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  form.new .buttons #discard {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 768px) {
  form.new .buttons {
    min-width: calc(500px - 4rem);
  }
  form.new .buttons #discard {
    margin-left: 0;
  }
}

.button1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-primary);
  color: white;
  border-radius: 2rem;
  position: relative;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.button1::before {
  content: url("../starter-code/assets/icon-plus.svg");
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  background: white;
  border-radius: 50%;
}

.button1:hover {
  background-color: var(--color-secondary);
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@-webkit-keyframes animatewithout {
  0% {
    opacity: 0;
    top: -100%;
  }
  25% {
    opacity: 0;
    top: -50%;
  }
  90% {
    opacity: 0.9;
    top: 5%;
  }
  100% {
    opacity: 1;
    top: 0%;
  }
}

@keyframes animatewithout {
  0% {
    opacity: 0;
    top: -100%;
  }
  25% {
    opacity: 0;
    top: -50%;
  }
  90% {
    opacity: 0.9;
    top: 5%;
  }
  100% {
    opacity: 1;
    top: 0%;
  }
}

* {
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
}

#addItem {
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

.label {
  color: var(--color-label);
}

.new h1 {
  display: inline;
}

.new__invoice {
  font-weight: 700;
  font-size: 2rem;
}

.new.validate > .invoice__input:invalid {
  border: 1px solid red;
}

.new__details {
  color: var(--color-primary);
}

.new__bill-address {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.invoice__input {
  font-weight: 700;
  display: block;
  position: relative;
  border: 0;
  background: var(--color-bg-textfield);
  color: var(--color-text-textfield);
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--color-outline);
  border-radius: 5px;
  font-size: 0.75rem;
}

.invoice__input:active, .invoice__input:focus {
  border: 1px solid var(--color-outline-active);
}

.new__date {
  position: relative;
}

.new__date .issue-date {
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--color-outline);
  color: var(--color-main-heading);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__date .issue-date.active {
  border: 1px solid var(--color-outline-active);
}

.new__date .dates {
  margin-top: 1rem;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  background: var(--color-bg-textfield);
  display: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.new__date .dates .month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.new__date .dates .month .mth {
  color: var(--color-main-heading);
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__date .dates .month .arrows {
  margin: 0.6rem;
  padding: 0.4rem;
  width: 10%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.new__date .dates .month .arrows:hover {
  background: #ccc;
}

.new__date .dates .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  background: var(--color-dropdown);
  color: var(--color-main-heading);
}

.new__date .dates .days .day {
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  -ms-grid-column-align: center;
      justify-self: center;
}

.new__date .dates .days .day.selected {
  color: var(--color-primary);
}

.new__date .dates .days .day.inactive {
  color: grey;
}

.new__date .dates.active {
  display: block;
  -webkit-animation: animate 500ms ease-in-out forwards;
          animation: animate 500ms ease-in-out forwards;
}

.new__payment-dropdown {
  height: 100%;
  cursor: pointer;
  position: relative;
}

.new__payment-dropdown .selected-item {
  color: var(--color-main-heading);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem;
  border: 1px solid var(--color-outline);
  border-radius: 5px;
}

.new__payment-dropdown .selected-item::after {
  content: url("../starter-code/assets/icon-arrow-down.svg");
}

.new__payment-dropdown .selected-item.active {
  border: 1px solid var(--color-outline-active);
}

.new__payment-dropdown #dropdown {
  background: var(--color-dropdown);
  position: absolute;
  z-index: 1;
  top: 7.2rem;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: none;
}

.new__payment-dropdown #dropdown li {
  color: var(--color-dropdown-text);
  font-weight: 700;
  padding: 1rem;
  border-bottom: 1px solid var(--color-dropdown-border);
}

.new__payment-dropdown #dropdown li:last-child {
  border-bottom: 0;
}

.new__payment-dropdown #dropdown li.selected {
  color: var(--color-primary);
}

.new__payment-dropdown #dropdown.show {
  display: block;
  -webkit-animation: animate 500ms ease-in-out forwards;
          animation: animate 500ms ease-in-out forwards;
}

.new__date-payment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.invoice__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 2fr 2fr 1fr;
      grid-template-columns: 3fr 1fr 2fr 2fr 1fr;
  gap: 1rem;
}

.delete-icon {
  cursor: pointer;
  place-self: center;
}

.delete-icon::after {
  content: url("../../starter-code/assets/icon-delete.svg");
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete-icon:hover {
  background: #eee;
}

button {
  border: 0;
}

.button2 {
  background-color: var(--color-primary);
  color: white;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.button2:hover {
  background-color: var(--color-secondary);
}

.button3 {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-button3);
  color: var(--color-button3-text);
}

.button3:hover {
  background-color: var(--color-button3-hover);
}

#saveandsend {
  margin-left: 0.5rem;
}

.button4 {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--color-button4);
  color: var(--color-button4-text);
}

.button4:hover {
  background-color: var(--color-button4-hover);
}

.button4.delete {
  background-color: var(--color-button5);
  color: var(--color-button5-text);
}

.button4.delete:hover {
  background-color: var(--color-button5-hover);
}

.button5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-button6);
  color: var(--color-button6-text);
  border-radius: 2rem;
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.button5 > p {
  font-size: 0.9rem;
}

.button5:hover {
  background-color: var(--color-button6-hover);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  25% {
    opacity: 0;
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.toti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.invoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 50rem;
}

.invoices .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: var(--color-main-heading);
  font-weight: 700;
  font-size: 1rem;
}

.invoices .link:visited {
  color: var(--color-main-heading);
}

.invoices .link::before {
  content: url("../../starter-code/assets/icon-arrow-left.svg");
  margin-right: 2rem;
}

.invoices__body {
  background-color: var(--color-card-bg);
  margin-top: 2rem;
  width: 50rem;
  padding: 3rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.invoices__body .clientDetails {
  display: -ms-grid;
  display: grid;
  min-height: 10rem;
  height: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-bottom: 4.16rem;
}

.invoices__body .clientDetails .date_due {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoices__header {
  padding: 2rem;
  background-color: var(--color-card-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.invoices__header .status {
  margin-left: 1rem;
}

.invoices__id {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-main-heading);
}

.invoices__id::before {
  content: "#";
  font-weight: 500;
  color: var(--color-hashtag);
}

.invoices__des {
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--color-text);
}

.invoices__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoices__content .fromAddress {
  text-align: end;
  color: var(--color-text);
}

.invoices__content .fromAddress > p {
  line-height: 2;
}

.heading {
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.inline_heading {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: var(--color-text);
}

.bold-text {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-main-heading);
}

.toAddress p:not(.bold-text, .heading) {
  color: var(--color-text);
  line-height: 2;
}

.invoicesItemsList {
  padding: 2rem;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-color: var(--color-invoiceitems-bg);
}

.invoicesItemsList .lt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 2fr 2fr;
      grid-template-columns: 3fr 1fr 2fr 2fr;
}

.invoicesItemsList .Right {
  place-self: end;
}

.invoicesItemsList .Center {
  place-self: center;
}

.ListItem {
  font-weight: 700;
  font-size: 1.2rem;
}

.ListItem.Dark {
  color: var(--color-main-heading);
}

.ListItem.Light {
  color: var(--color-text);
}

.listTotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  color: var(--color-invoice-bar-text);
  background-color: var(--color-invoice-bar);
  border-radius: 0 0 10px 10px;
}

.listTotal .Amount {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listTotal .TA {
  font-weight: 700;
  font-size: 2rem;
}

.conat {
  margin: 0 auto;
  width: 40rem;
  height: 20rem;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: var(--color-card-bg);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: none;
}

.conat.show {
  display: block;
}

.deletepopup {
  height: 100%;
  text-align: left;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deletepopup h1 {
  margin: 1rem;
  color: var(--color-main-heading);
}

.deletepopup p {
  font-size: 1rem;
  margin: 1rem;
  color: var(--color-text);
}

.deletepopup .popupButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1rem;
}

.hash {
  font-size: 2rem;
  color: var(--color-hashtag);
}

.id1 {
  color: var(--color-main-heading);
  font-size: 2rem;
}

.editButtons {
  border-top: 1px solid var(--color-dropdown-border);
  width: calc(500px - 12rem);
  padding-top: 2rem;
  position: absolute;
  bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-height: 1100px) {
  .editButtons {
    position: fixed;
    background-color: var(--color-page-bg);
    width: 500px;
    padding: 2rem;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 768px) {
  .invoices {
    margin-top: 5rem;
  }
  .side_invoice {
    padding-left: 2rem;
    padding-top: 8rem;
  }
}
/*# sourceMappingURL=style.css.map */