.invoices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 50rem;

    .link {
        display: inline-flex;
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-decoration: none;
        color: var(--color-main-heading);
        font-weight: 700;
        font-size: 1rem;

        &:visited {
            color: var(--color-main-heading);
        }

        &::before {
            content: url("../../starter-code/assets/icon-arrow-left.svg");
            margin-right: 2rem;
        }
    }

    &__body {
        background-color: var(--color-card-bg);
        margin-top: 2rem;
        width: 50rem;
        padding: 3rem;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .clientDetails {
            display: grid;
            min-height: 10rem;
            height: 100%;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 4.16rem;

            .date_due {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    &__header {
        padding: 2rem;
        background-color: var(--color-card-bg);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 10px;

        .status {
            margin-left: 1rem;
        }
    }

    &__id {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--color-main-heading);

        &::before {
            content: "#";
            font-weight: 500;
            color: var(--color-hashtag);
        }
    }

    &__des {
        font-size: 1rem;
        margin-top: 1rem;
        color: var(--color-text);
    }

    &__content {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

        .fromAddress {
            text-align: end;
            color: var(--color-text);

            & > p {
                line-height: 2;
            }
        }
    }
}

.heading {
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.inline_heading {
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-size: 1rem;
    color: var(--color-text);
}

.bold-text {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-main-heading);
}

.toAddress p:not(.bold-text, .heading) {
    color: var(--color-text);
    line-height: 2;
}

.invoicesItemsList {
    padding: 2rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-invoiceitems-bg);

    .lt {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr 2fr;
    }

    .Right {
        place-self: end;
    }

    .Center {
        place-self: center;
    }
}

.ListItem {
    font-weight: 700;
    font-size: 1.2rem;

    &.Dark {
        color: var(--color-main-heading);
    }

    &.Light {
        color: var(--color-text);
    }
}

.listTotal {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    color: var(--color-invoice-bar-text);
    background-color: var(--color-invoice-bar);
    border-radius: 0 0 10px 10px;
    .Amount {
        font-size: 1rem;
        display: inline-flex;
        align-items: center;
    }

    .TA {
        font-weight: 700;
        font-size: 2rem;
    }
}

.conat {
    margin: 0 auto;
    width: 40rem;
    height: 20rem;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Negative half of height. */
    // margin-left: -20rem;
    background: var(--color-card-bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;

    &.show {
        display: block;
    }
}

.deletepopup {
    height: 100%;
    text-align: left;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin: 1rem;
        color: var(--color-main-heading);
    }
    p {
        font-size: 1rem;
        margin: 1rem;
        color: var(--color-text);
    }

    .popupButtons {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}

.hash {
    font-size: 2rem;
    color: var(--color-hashtag);
}

.id1 {
    color: var(--color-main-heading);
    font-size: 2rem;
}
